.form-settings {
    padding: 0 50px;
    display: flex;

    &__time {
        width: 200px;
    }

    &__start {
        margin-top: 17px;
        margin-left: 50px;
        width: 200px;
    }

    &__start-button {
        height: 35px;
        width: 75px;
    }

    &__input {
        transition: all .3;
        padding: 0 15px;
        width: 100%;
        height: 35px;
        border-width: 1px;
        border-color: #c1c1c1;
        border-style: solid;
        border-radius: 3px;
        font-size: 14px;

        &::placeholder {
            color: #DADADA;
        }

        &--duration {
            width: 60px;
        }

        &--not-empty {
            border-color: #DADADA;
        }

        &--error {
            border-color: #e30b5d;
        }
    }
}