

<div class="list-container">
    <h1 class="list-container__header"> <a routerLink="/game" href="/" class="list-container__link">GAME</a> RULES:</h1>

    <ol class="list-container__wrapper">
        <li class="list-container__wrapper-item"><span class="list-container__wrapper-number">1.</span><p class="list-container__wrapper-text">The random field cell (blue) is highlighted in color (turns yellow) </p></li>
        <li class="list-container__wrapper-item"><span class="list-container__wrapper-number">2.</span><p class="list-container__wrapper-text">If you manages to click on the selected cell (yellow) within N milliseconds, the cell becomes green and the you will recive 1 point.</p></li>
        <li class="list-container__wrapper-item"><span class="list-container__wrapper-number">3.</span><p class="list-container__wrapper-text">If you didn't manage to click the selected cell, the cell becomes red, and computer gets 1 point</p></li>
        <li class="list-container__wrapper-item"><span class="list-container__wrapper-number">4.</span><p class="list-container__wrapper-text">Have fun!</p></li>
    </ol> 
</div>